/* Agnes Calista - 2501980690 */

/* =====================pages=======================*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

nav .left img{
    width: 90px;
}

nav{
    display : flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 0px 5% 0px 5%;
}

nav .right a {
    text-decoration: none;
    color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} 
  
html {
    scroll-behavior: smooth;
    /* background: url(/image/Restaurant.2.jpg);
    background-repeat: no-repeat;*/
    background-size:cover; 
    align-items: center; 
    background-color:black;


}
  
/* -----------------------Header------------------------ */
  
section nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background: #fff;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

}
  
section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 7px 0;  
}
  
  section nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    
  }

  
section nav .bars{
  display: block;
}

section nav .bars{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

}

  .action_btn{
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
  }

  section nav .toggle_btn i{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

  }

  

.action_btn{
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale .2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: white;
}

.action_btn:active{
  scale: 0.95;

}

 /* Drop down */
.dropdown{
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  height: 0;
  width: 300px;
  background: rgb(237, 212, 164);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /*border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}

.dropdown.open{
  height: 240px;
}

.dropdown li{
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown li{
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .dropdown li a{
    text-decoration: none;
    color: #534666;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
  }
  
  .dropdown li a:hover{
    color: #fff;
  }


   /* responsive */
@media (max-width:768px){
  section nav ul,
  section nav .action_btn {
    display: none;
  }
  section nav .bars{
    display: block;
  }

  .dropdown{
    display: block;
  }
}

@media (max-width:576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}


  
  
  section nav ul li {
    display: inline-block;
    margin: 0 14px;
  }
  
  section nav ul li a {
    text-decoration: none;
    color: #534666;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
  }
  
  section nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #CD7672;
    display: block;
    transition: 0.2s linear;
  }
  
  section nav ul li a:hover::after {
    width: 100%;
  }
  
  section nav ul li a:hover {
    color: #CD7672;
  }
  
  section nav .icon i {
    font-size: 18px;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    size: 100px;
  }
  
  section nav .icon i:hover {
    color: #CD7672;
  }
  
/* ===================================================scroll bar ======================================*/

::-webkit-scrollbar{
  width: 11px;
  height: 11px;
  background: white;
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: rgb(52, 45, 45);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: gray;
}
 
/* ---------------slides--------------------- */

.slides{
    width: 100%;
    position: relative;
    bottom: -70px;

}

.slides .slide{
    display: none;

}

.slides .slide img{
    width: 100%;
    
    bottom: 50px;
    animation-name: fade;
    animation-duration: 1s;
}

.slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: 0.1s ease;
}

.slides .navigation .prev:hover, .slides .navigation .next:hover{
    background: rgba(0, 0, 0, 0.2);
}

@keyframes fade {
    from{opacity: 0.3}
    to {opacity:1}

}

/* ---------------------------------marquee------------------------------------------- */


marquee{
  color: white;
  /* height: 4px; */
  width: 80%;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #161212;
  text-stroke-color: #3c3535 ;

}


/* -----------------responsive image------------------------- */
.imgclass{
  width: 100%;
  position: relative;
}
.imgclass .imgphotos img{
  width: 100%;
}

/* -------------------MENU------------------------- */

.menu{
    width: 100%;
    padding: 70px 0;
    background-color: black;
  }
  
  .menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .menu h1 span{
    color: #EEB462;
    margin-left: 15px;
    font-family: open-sans;
  
  }
  /* tulisan menu */
  .menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #EEB462;
    display: block;
    position: relative;
    bottom: 15px;
  }
  
  .menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: black;
  
  }
  
  .menu .menu_box .menu_card{
    width: 325px;
    height: 600px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffff;
  }
  /* foto menu */
  .menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 290px;
    margin: 0 auto;
    overflow: hidden;
  }
  /* setting foto menu, zoom 100% */
  .menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
  }
  
  .menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
  }
  /* heart */
  .menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    position: relative;
    float: right;
    top:10px;
    right: -10px;
    opacity: 1;
    border-radius: 7px;
  }
  /* heart */
  
  .menu .menu_box .menu_card .small_card i{
    font-size: 20px;
    display: flex;
  
    line-height: 10px;
    color: rgb(245, 46, 46);
    cursor: pointer;
    text-shadow: 0 0 6px black;
    transition: 0.2s;
  }
  
  
  .menu .menu_box .menu_card .small_card i:hover{
    color: #CD7672;
  }
  /* nama menu */
  .menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #534666;
  }
  
  
  /* deskripsi menu */
  .menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 20px;
    text-align: 20px;
  
  }
  /* harga */
  .menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
  }
  
  /* rating */
  .menu .menu_box .menu_card .menu_info .menu_star{
    color: #EEB462;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  
  .menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f9f5ff;
    background: #534666;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
  }

  .menu .menu_box .menu_card .menu_info .menu_btn:hover {
    background-color: #a16ff2;
  }


  @media (max-width: 768px) {
    .menu {
      padding: 40px 40px;
    }
    
    .menu h1 {
      font-size: 40px;
      margin-bottom: 50px;
      
    }
    
    .menu .menu_box {
      display: flex;
      margin: auto auto;
    }
    
    .menu .menu_box .menu_card {
      width: 50%;
      height: auto;
      margin-bottom: 90px;
    }
    
    .menu .menu_box .menu_card .menu_image {
      width: 90px;
      height: 30px;
      margin: 0 auto;
      overflow: hidden;
    }

      /* setting foto menu, zoom 100% */
  .menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
  }

    /* foto menu */
    .menu .menu_box .menu_card .menu_image{
      width: 10px;
      height: 10px;
      margin: 0 auto;
      overflow: hidden;
    }
  .menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
  }
    
    .menu .menu_box .menu_card .small_card {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    .menu .menu_box .menu_card .menu_info h2 {
      width: 80%;
      font-size: 20px;
      margin: 10px auto;
    }
    
    .menu .menu_box .menu_card .menu_info p {
      font-size: 16px;
    }
    
    .menu .menu_box .menu_card .menu_info h3 {
      margin-top: 5px;
      font-size: 18px;
    }
    
    .menu .menu_box .menu_card .menu_info .menu_btn {
      margin: 50px 30px;
    }
  }

  @media (max-width: 1000px) {
    .menu {
      padding: 40px 0;
    }
    
    .menu h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    
    .menu .menu_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
    
    .menu .menu_box .menu_card {
      width: 100%;
      height: auto;
      padding-top: 18px;
      margin-bottom: 40px;
    }
    
    .menu .menu_box .menu_card .menu_image {
      width: 90%;
      height: 390px;
      
    }
    
    .menu .menu_box .menu_card .small_card {
      position: absolute;
      top: 15px;
      right: 10px;

    }
    
    .menu .menu_box .menu_card .menu_info h2 {
      width: 80%;
      font-size: 18px;
      margin: 1-px auto;
    
    }
    
    .menu .menu_box .menu_card .menu_info p {
      font-size: 16px;
    }
    
    .menu .menu_box .menu_card .menu_info h3 {
      margin-top: 5px;
      font-size: 18px;
    }
    
    .menu .menu_box .menu_card .menu_info .menu_btn {
      margin: 16px 30px;
    }
  }


/* --------------------------explore more------------------------------- */
.explore{
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-size: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 80px auto;
  justify-content: center;
}

.explore i{
  font-size: 4rem;
  transition: 0.3s ease;
}

.explore:hover{
  color: orange;
}

.explore:hover i{
  transform: translateX(8px);
}

@media screen and (max-width : 768px) {
    .explore {
        font-size: 20px;
        font-weight: 300;
    }
}

  
  /*--------------------------------- Footer --------------------------------- */
footer{
  position: fixed;
  bottom: 0;
}

.footer{
  background-color: black;
  box-sizing:border-box ;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;

}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display : inline-block;
  vertical-align: top;
}

@media (max-height: 800px){
  footer {
    position: static;
  }
  header{
    padding-top: 40px;
  }
}

.footer .footer-left{
  width: 30%;
}

.footer h3{
  color: #fff;
  margin: 5px;
  padding-bottom: 20px;
  font-family: georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img{
  width: 25%;
  vertical-align: middle;
}

/* tulisan copyright */
.footer .footer-copyright{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}


.footer .footer-center {
  width: 35%;
}

.footer .footer-center i{
  background-color: black;
  color: white;
  font-size: 25px;
  width:30px ;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;

}

.footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 30px;

}

.footer .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0px;

}

.footer .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: rgba(22,255,177);
  text-decoration: none ;
}

.footer .footer-right{
  width: 30% ;
}

.footer .footer-about{
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;

}

.footer .footer-about span {
  display: block;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-media {
  margin-top: 25px;

}

.footer .footer-media a{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-media a:hover {
  background-color: rgb(0,122,82);
}

@media (max-width: 880px){
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display : block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .footer .footer-center i {
  margin-left: 0px;
  }
}




  



